

<style>
 .container{
   width: 800px;
   font-family: Arial, Helvetica, sans-serif;
   align-items: center;
   display: flex;
   flex-direction: column;
 } 

 span{
   margin: 10px;
 }
</style>

<div class="container">
  <span>Hi, {{name}}. </span>
  <br />
  <span>
    You requested a password change, to make the change, click on the link below: <br />
    <a href={{link}}>{{link}}</a>
  </span>
  <br />
  <span>
    if you didn't request it, just ignore this email.
  </span>

  <h3>Team | <strong>Rentx</strong></h3>

</div>